.nav-pic,
.prof-img {
    border-radius: 100px
}
.postIt,
a {
    text-decoration: none
}
body {
    background: #f9f9f9
}
.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 60px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
#form {
    background-color: #F9F9F9
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 10px 5px;
    font-size: 18px;
    line-height: 20px
}
.navbar-header {
    background-color: #F9f9f9
}

.postIt-wrapper {
    margin: auto auto auto -10px;
    text-align: center;
    overflow: hidden
}
.postIt-container {
	display: inline-block;
	}

.postIt {
    color: #f9f9f9;
    font-size: 130%;
    background: #5F7378;
    display: block;
    height: 280px;
    width: 280px;
    padding: 20px;
    margin: 20px;
    float: left;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -moz-transform: rotate(2deg)
}

.delete-link,
.vote {
    height: 20px;
    cursor: pointer
}
postIt-container:nth-of-type(2n+1) .postIt {
    background: #2e9889
}
.postIt-container:nth-of-type(3n+2) .postIt {
    background: #59a1c3
}
.postIt-container:nth-of-type(4n+3) .postIt {
    background: #c54243
}
.postIt-container:nth-of-type(5n+4) .postIt {
    background: #5F7378
}
.postIt-container:nth-of-type(6n+5) .postIt {
    background: #d9aa2e
}
.postIt-container:nth-of-type(7n+6) .postIt {
    background: #9c6faa
}
.postIt-container:nth-of-type(8n+7) .postIt {
    background: #ebebec;
    color: #34495e
}
.postIt-container:nth-of-type(5n+1) .postIt {
    position: relative;
    top: 20px;
    -webkit-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg)
}
.postIt-container:nth-of-type(4n+3) .postIt {
    position: relative;
    top: 10px;
    -webkit-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    -moz-transform: rotate(-11deg)
}
.postIt:focus,
.postIt:hover {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .4);
    -webkit-transform: scale(1.1)!important;
    -moz-transform: scale(1.1)!important;
    -o-transform: scale(1.1)!important;
    position: relative;
    z-index: 5
}
.info {
    font-weight: bolder;
    font-size: 16px
}
.info .url {
    font-weight: 400;
    color: #999;
    font-size: 13px;
    margin-left: 5px
}
.prof-img {
    width: 100%;
    max-width: 100px
}
.Name {
    font-weight: 700;
    font-size: 1.5em
}
.nav-tabs {
    margin-top: 30px
}
.vote {
    height: 20px;
    cursor: pointer
}
.auth-forms {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 1px 25px 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 10px
}
a {
    color: #F7BF31
}
.cmt-form {
    margin-top: 30px
}
.cmt {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc
}
.cmt .author {
    font-size: 11px;
    color: #bbb
}
.delete-link {
    display: block;
    text-indent: -9000px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url('../images/delete.png');
    background-position: center top;
    background-size: 100%
}
.delete-link:hover {
    background-position: center bottom
}
@media only screen and (max-width: 550px) {
    .postIt-wrapper {
        width: 380px;
        margin: 0 auto
    }
    .postIt-container {
        float: left
    }
    .postIt {
        font-size: 100%;
        margin: 15px;
        height: 160px;
        width: 160px;
        -webkit-transform: rotate(0)!important;
        -o-transform: rotate(0)!important;
        -moz-transform: rotate(0)!important;
        position: relative;
        top: 0!important
    }
}
