input,
select,
textarea {
  border-radius: 4px;
  border: 2px solid #778e93;
  padding: 2px 4px;
  background-color: white; }

input:hover,
select:hover,
textarea:hover {
  border-color: #93a5aa; }

input:focus,
select:focus,
textarea:focus {
  border-color: #4ca7d4;
  outline: none; }

label {
  font-weight: 300; }

select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"] {
  -webkit-appearance: none;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  font-weight: 300; }

select {
  background-image: url("../img/select-bg.png");
  background-repeat: no-repeat;
  background-position: right 6px center; }

select:hover {
  background-color: #ececec; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  background-color: white;
  vertical-align: text-bottom;
  margin-right: 4px;
  border: 2px solid #5f7378;
  padding: 9px;
  position: relative;
  outline: none !important; }

input[type="checkbox"] {
  border-radius: 3px; }

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border-color: #75bbde; }

input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 24px;
  position: absolute;
  top: -6px;
  left: 2px;
  color: #5f7378; }

input[type="radio"] {
  border-radius: 12px; }

input[type="radio"]:checked:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #5f7378;
  left: 3px;
  font-size: 32px; }

.one-line-radio input[type="radio"]:nth-child(2) {
  margin-left: 20px; }

.multi-line-radio label {
  font-weight: 300; }

fieldset {
  margin: 15px 0; }

label {
  font-weight: 400;
  margin-right: 10px; }