<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Wall of Accomplishments</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" ></script>

<script type="text/javascript">
// Random bg images
 var images = [

 // Off-white
 'offwhite.png', 'offwhite.png', 'offwhite.png', 'offwhite.png', 'offwhite.png', 'offwhite.png', 'offwhite.png',

 // Crazy
 'bg01.png', 'bg02.gif', 'bg03.gif', 'bg04.gif', 'bg05.gif', 'bg06.gif', 'bg07.jpg', 'bg08.gif', 'bg09.gif', 'bg10.jpg', 'bg11.jpg', 'bg12.gif', 'bg13.png', 'bg14.png', 'bg15.gif', 'bg16.jpg', 'bg17.jpg', 'bg18.jpg', 'bg19.png', 'bg20.jpg', 'bg21.png', 'bg22.jpg', 'bg23.jpg', 'bg24.png', 'bg25.png', 'bg26.jpg', 'bg27.png', 'bg28.jpg', 'bg29.jpg'

 ];
 $('.bcontainer').css({'background': 'url(images/background/' + images[Math.floor(Math.random() * images.length)] + ')'});

</script>


  </head>
  <body ng-app = "app" ng-controller = "viewPost">
    <div class="postIt-wrapper">
		    <div class="postIt-container" ng-repeat="post in posts | orderBy:'-createAt'">
  			<div class="postIt">
				<div class="Name"> <p>{{ post.name }}</p> </div>
				<div class="AC"> <p>{{ post.accomplishment}}</p> </div><br>
        <div class="Who"> <p>{{ post.who}}</p> </div>
				<div class="dlink"> <a class="delete-link" ng-click="deletePost(post)">delete</a> </div>
			</div><!--postIt-->
	  </div><!--postIt-container-->
	 </div><!--postIt-wrapper-->

  </body>
</html>
