.nav-pic,
.prof-img {
  border-radius: 100px
  }
 
.postIt,
a {
  text-decoration: none
  }
 
body {
  background: #f9f9f9
  }
 
.nav-pic {
  margin: -2px 5px 0 0;
  max-height:60px
  }
 
#form {
  background-color: #F9F9F9
  }
 
.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 55px;
  font-size: 18px;
  line-height: 20px
  }
 
.navbar-header {
  background-color: #F9f9f9
  }
 
.postIt {
  color: #f9f9f9;
  display: block;
  height: 20em;
  width: 20em;
  padding: 2em;
  margin: 2em;
  float: left;
  box-shadow: 5px 5px 7px rgba(0,0,0,.3);
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg)
  }
  
.postIt-container:nth-of-type(8n+1) .postIt {
	background: #2e9889;
	}

.postIt-container:nth-of-type(8n+2) .postIt {
	background: #59a1c3;
	}

.postIt-container:nth-of-type(8n+3) .postIt {
	background: #c54243;
	}
 
 .postIt-container:nth-of-type(8n+4) .postIt {
	background: #5F7378;
	}

.postIt-container:nth-of-type(8n+5) .postIt {
	background: #d9aa2e;
	}
	
.postIt-container:nth-of-type(8n+6) .postIt {
	background: #9c6faa;
	}

.postIt-container:nth-of-type(8n+7) .postIt {
	background: #ebebec;
	color: #34495e;
	}

 
.postIt:focus,
.postIt:hover {
  box-shadow: 10px 10px 7px rgba(0,0,0,.4);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position: relative;
  z-index: 5
  }
 
.info {
  font-weight: bolder;
  font-size:16px
  }
 
.info .url {
  font-weight: 400;
  color: #999;
  font-size: 13px;
  margin-left: 5px
  }

.prof-img {
  width: 100%;
  max-width: 100px;
  }
 
.Name {
  font-weight: 700;
  font-size:1.5em;
  }
 
.nav-tabs {
  margin-top: 30px;
  }
 
.vote {
  height: 20px;
  cursor: pointer;
  }
 
.auth-forms {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 1px 25px 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border-radius: 10px;
  }
 
a {
  color: #F7BF31
  }
 
.cmt-form {
  margin-top: 30px
  }
 
.cmt {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc
 }
 
.cmt .author {
  font-size: 11px;
  color:#bbb
  }
 
 